<section class="" style="margin-top: 100PX;">
    <div  class="px-4 py-5 px-md-5 text-center text-lg-start" >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">

          <div class="col-lg-6 mb-5 mb-lg-0" >
            <img src="./assets/images/6333213.jpg" style="height: 400px;"
            class="img-fluid" alt="Sample image">
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="register" (ngSubmit)="registerdata(register)">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Prénom</label>
                        <input type="text" formControlName="firstname" class="form-control" />
                        
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Nom</label>
                        <input type="text" formControlName="lastname" class="form-control" />
                       
                      </div>
                    </div>
                  </div>
  
                
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Adresse EMAIL</label>
                    <input type="email" formControlName="email" class="form-control" />
                  
                  </div>
  
              
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Mot de passe</label>
                    <input type="password" formControlName="password" class="form-control" />
                   
                  </div>
  
         
                  <button type="submit" class="btn btn-primary btn-block mb-4"   style="padding-left: 2rem; padding-right: 2rem;  background-color:rgb(151, 104, 195); margin-left: 195px;">
                    Registrer
                  </button>
  
                  <div class="text-center">
                             <a style="color:rgb(151, 104, 195);" routerLink="/login">Already have account?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

